/*
    Copyright (C) 2019 Nuclear Family LLC

    Permission is hereby granted, free of charge, to any person obtaining a copy of
    this software and associated documentation files (the "Software"), to deal in
    the Software without restriction, including without limitation the rights to
    use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
    of the Software, and to permit persons to whom the Software is furnished to do
    so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in all
    copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
    SOFTWARE.
*/
body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
a:visited { color: black; }
a:link {
    display: block;
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 120%;
}
.subtitle {
    width: 100%;
    height: 40px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow:
}
#web-apps-title {
    position: fixed;
    top: 0px;
    min-height: 80px;
    max-height: 160px;
    width: 100%;
    background-color: #3aa76f;
    color: white;
    text-align: center;
    display: inline-block;
}
#web-apps-title div {
    padding-bottom: 20px;
}
#web-apps-title h5 {
    font-size: 200%;
    font-weight: bold;
}
#web-apps-title p {
    margin-top: -20px;
    font-size: 140%;
    font-weight: bold;
    white-space: nowrap;
}
#web-app-launcher {
    top: 80px;
    margin-top: 160px;
    position: flex;
    display: block;
    min-width: 150px;
    max-width: 80%;
}
.web-app {
    vertical-align: top;
    display: inline-block;
    width: 150px;
}
.web-app .plus-button {
    background: #0061ff;
    color: white;
    font-size: 280%;
    width: 50px;
    height: 50px;
    padding: unset;
    margin-top: 20px;
}
.web-app-shortcut div {
    top: 30px;
    position: flex;
}
.web-app-shortcut p {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}
.web-app-shortcut img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#web-app-footer {
    position: fixed;
    bottom: 0px;
    height: 40px;
    width: 100%;
    background-color: #3aa76f;
    text-align: center;
    display: block;
}
.web-app-add {
    padding-top: 3px;
    padding-left: 5px;
    vertical-align: top;
    float: left;
}
.web-app-add button {
    margin-top: 1px;
    background: #0061ff;
    height: 32px;
    color: white;
    float: left;
    line-height: 32px;
    padding: 0 20px;
}
#web-app-lastpass {
    display: none;
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: top;
    float: right;
}
#web-app-lastpass button {
    margin-top: 1px;
    background: #0061ff;
    height: 32px;
    color: white;
    float: left;
    line-height: 32px;
    padding: 0 20px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}
.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 400px;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.modal-header {
    padding: 2px 16px;
    background-color: #3aa76f;
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.modal-body {padding: 2px 16px;}
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}
@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}
@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}
@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}
#context-menu {
    display: float;
    z-index: 1;
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}
menu {
    position: absolute;
    display: block;
    color: white;
    left: 0px;
    top: 0px;
    height: 25px;
    width: 25px;
    padding: 0;
    margin: 0;
    background-color: white;
    font-size: 110%;
    font-weight: bold;
    white-space: nowrap;
    background: #3aa76f;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    text-align: center;
}
menu:hover {
    font-weight: bold;
}
menu:hover > menu {
    display: block;
}
menu > menu {
    display: none;
    position: relative;
    text-align: left;
    top: -20px;
    padding-left: 6px;
    padding-right: 6px;
    left: 100%;
    min-width: 70px;
    border-radius: unset;
}
menu > menu:hover {
    background-color: white;
    color: #3aa76f;
    border: 2px solid #3aa76f;
}

.alert {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.65);
    visibility: hidden;
    backface-visibility: hidden;
    opacity: 0;
    transition: opacity .15s ease-in-out;
}
    .alert.alert-open {
    visibility: visible;
    backface-visibility: visible;
    opacity: 1;
    z-index: 1;
}
.alert .alert-inner {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.alert .alert-inner .alert-content {
    background-color: white;
    max-width: 35em;
    padding: 1em 1.5em;
    position: relative;
    margin: 2em;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
    border-radius: 12px;
}
.alert .alert-inner .alert-content .alert-close-icon {
    position: absolute;
    right: 1.5em;
}
.alert .alert-inner .alert-content .alert-content-inner {
    padding-right: 2em;
}
.alert .alert-inner .alert-content .alert-content-inner h1, .alert .alert-inner .alert-content .alert-content-inner h2, .alert .alert-inner .alert-content .alert-content-inner h3, .alert .alert-inner .alert-content .alert-content-inner h4, .alert .alert-inner .alert-content .alert-content-inner h5, .alert .alert-inner .alert-content .alert-content-inner h6 {
    margin-bottom: 0.25em;
}
.alert .alert-inner .alert-content .alert-content-inner p {
    text-align: left;
    margin-bottom: 1em;
}
.alert .alert-inner .alert-content .alert-buttons-seperator {
    margin: 1.5em 0;
    margin-top: 0;
}
.alert .alert-inner .alert-content .alert-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.alert .alert-inner .alert-content .alert-buttons .button-primary {
    background-color: #0061ff;
    border-color: #0061ff;
}
.alert .alert-inner .alert-content .alert-buttons button {
    margin-left: 1em;
}
.alert .alert-inner .alert-content .alert-buttons button:first-child {
    margin-left: 0;
}
.form-footer {
    font-size: 75%;
}
.form-header {
    margin-bottom: -10px;
}
input {

    margin-bottom: 10px;
}